{
    "trailingComma": "es5",
    "semi": true,
    "tabWidth": 2,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "singleAttributePerLine": false,
    "plugins": ["prettier-plugin-tailwindcss"]
}